* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: grey;
}

.cookieIcon{
    width: 90px;
}

.xmarkIcon{
    width: 20px;
}

.container{
    position: relative;
}

.Cookies{
    position: fixed;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(44, 44, 44);
    color: white;    
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 10px; 
    bottom: 4%;
    right: 2%;
    opacity: 1;
    transition: ease-in;
    transition-duration: 200ms;
}

.content{
    transform: translateY(10px);   
}

#cookiebtn{
    background-color: whitesmoke;
    width: 100%; 
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bolder;
}

#closebutton{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}

.hidden{
    visibility: hidden;
    opacity: 0;

}

.area{
    width: 240px;
    height: 110px;
    font-size: small;
    position: relative;
    padding-bottom: 10px;
}

.charCount{
    position: absolute;
    top: 90px;
    right: 150px;
    font-size: smaller;
    font-weight: 300;
    color: gray;

}


.maxLen{
    color: red;
}
